@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@import 'components/app';
@import 'components/pages';
@import 'components/calendar';
@import 'components/card';

:root {
    --white: #F7F7F7;
    --red: #DA0028;
    --gold: #F6D140;
    --black: #121212;

    --fancy: 'PT Serif', Georgia, serif;
}

* {
    margin: 0;
    outline: 0;
    border: 0;

    box-sizing: border-box;

    color: var(--black);
    font-family: 'Open Sans', Verdana, monospace;
    font-size: 1rem;
}

html, body {
    background: var(--white);
    min-height: 100vh;
}