.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.5rem auto 3.5rem;
      grid-template-rows: 3.5rem auto 3.5rem;
  height: 100vh;
}

.app-nav, .app-footer {
  height: 100%;
  background: var(--red);
}

.app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -webkit-box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
}

.app-nav .app-nav-name {
  font-size: 1.5rem;
  font-weight: bold;
  font-variant: small-caps;
  font-family: var(--fancy);
  letter-spacing: 0.5px;
  line-height: 1.3rem;
  width: 50%;
  color: var(--white);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.1);
}

.app-footer .app-footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-footer .app-footer-link span {
  color: var(--white);
  font-size: 0.75rem;
}

.app-content {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-page,
.booking-page,
.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.booking-page .booking-page-buttons {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.booking-page .booking-page-buttons button {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  background: var(--red);
  border-radius: 10px;
}

.booking-page .booking-page-buttons button:disabled {
  background: lightgrey;
  color: rgba(0, 0, 0, 0.5);
}

.contact-page-map {
  position: relative;
  width: 100%;
  height: 512px;
  max-width: 512px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-page-map img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.login-page .login-page-title {
  font-size: 2rem;
  color: var(--red);
  font-family: var(--fancy);
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.login-page .login-page-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .back-btn {
  background: var(--red);
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.login-page label {
  display: block;
  font-weight: bold;
  padding: 0 0 0.2rem 0;
  font-size: 1.2rem;
  color: var(--red);
}

.login-page input[type="email"], .login-page input[type="password"] {
  min-width: 300px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  background: none;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--red);
}

.login-page input[type="submit"] {
  min-width: 200px;
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background: white;
  border-radius: 2rem;
  color: var(--red);
}

.profile-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.profile-page .profile-page-info p {
  font-size: 1.2rem;
}

.profile-page img {
  background: var(--red);
  border-radius: 50%;
}

.profile-page button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--white);
  background: var(--red);
  border-radius: 1rem;
}

.calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.calendar span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.calendar button {
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 2.5px;
}

.calendar button:disabled {
  color: rgba(0, 0, 0, 0.5);
  background: lightgrey;
  cursor: auto;
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 512px;
  padding: 0.5rem;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  padding: 0.5rem 1rem;
  font-variant: small-caps;
  font-family: var(--fancy);
  font-size: 1.4rem;
}

.card .card-desc a {
  display: block;
  font-size: 1.2rem;
}

.card .card-desc p, .card .card-desc a {
  padding: 0 1rem 1rem 1rem;
}

.card .card-desc p, .card .card-desc li, .card .card-desc ul {
  font-size: 1.1rem;
  line-height: 1.75rem;
  z-index: 10;
}

.card img {
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;
  border-radius: 5px;
}

.card .center {
  text-align: center;
}

:root {
  --white: #F7F7F7;
  --red: #DA0028;
  --gold: #F6D140;
  --black: #121212;
  --fancy: 'PT Serif', Georgia, serif;
}

* {
  margin: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--black);
  font-family: 'Open Sans', Verdana, monospace;
  font-size: 1rem;
}

html, body {
  background: var(--white);
  min-height: 100vh;
}
/*# sourceMappingURL=style.css.map */