@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

:root {
    --white: #F7F7F7;
    --red: #DA0028;
    --gold: #F6D140;
    --black: #121212;
}

* {
    margin: 0;
    outline: 0;
    border: 0;

    box-sizing: border-box;

    color: var(--black);
    font-family: 'Lato', Verdana, monospace;
    font-size: 1rem;
}

html, body {
    overflow: hidden;
    background: var(--white);
}

.app {
    display: grid;
    grid-template-rows: 4rem auto 4rem;
    min-height: 100vh;
}

.app-nav, .app-footer {
    @include flex(space-around, center);

    height: 100%;
    background: var(--red);
}

.app-nav {
    .app-nav-name {
        font-size: 1.4rem;
        font-weight: bold;
        font-variant: small-caps;
        font-family: 'PT Serif', Georgia, serif;
        color: var(--white);
        user-select: none;
    }
}

.app-footer {
    .app-footer-link {
        @include flex(center, center);
        flex-direction: column;

        span {
            color: var(--white);
            font-size: 0.75rem;
        }
    }
}