@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@import 'components/app';
@import 'components/pages';
@import 'components/calendar';
@import 'components/appointment';
@import 'components/booking';
@import 'components/card';

:root {
    --white: #F7F7F7;
    --red: #DA0028;
    // --gold: #F6D140;
    --gold: linear-gradient(121deg, rgba(246,209,64,1) 0%, rgba(255,171,0,1) 100%);
    --black: #121212;

    --fancy: 'PT Serif', Georgia, serif;
}

* {
    margin: 0;
    outline: 0;
    border: 0;

    box-sizing: border-box;

    color: var(--black);
    font-family: 'Open Sans', Verdana, monospace;
    font-size: 1rem;
}

html, body {
    background: var(--white);
    min-height: 100vh;
}

// Overall Theme

h2 {
    vertical-align: middle;
    padding: 0.5rem 1rem 0.5rem 1rem;
    
    font-family: var(--fancy);
    font-size: 1.4rem;
}

h3 {
    padding: 0.5rem 0rem;
}

u {
    font-style: oblique;
    font-variant: small-caps;
    text-decoration: none;
}

a {
    display: block;
    font-size: 1.2rem;
}

p, a {
    padding: 0 1rem 1rem 1rem;
}

p, li, ul {
    font-size: 1.1rem;
    line-height: 1.75rem;
}

label {
    display: block;
    font-weight: bold;
    padding: 0 0 0.4rem 0;
    font-size: 1.2rem;
    color: var(--red);
    text-align: center;
}

input[type="email"], input[type="password"], input[type="text"] {
    min-width: 300px;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1.5rem;
    background: none;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: center;
    border-bottom: 2px solid var(--red);
}

input[type="submit"] {
    min-width: 200px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    background: white;
    border-radius: 2rem;
    color: var(--red);
    font-variant: small-caps;
}

input[type="button"] {
    min-width: 200px;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    border-radius: 2rem;
    font-variant: small-caps;
    background: var(--gold);
    color: var(--black);
    margin-top: 1rem;
}

// Classes

.center {
    text-align: center;
}