.appointment-form {
    @include flex(center, center);
    flex-direction: column;

    .form-title {
        font-size: 2rem;
        color: var(--red);
        font-family: var(--fancy);
        text-align: center;
        margin: 1rem 0 2rem 0;
    }
}