.app {
    display: grid;
    grid-template-rows: 3.5rem auto 3.5rem;
    height: 100vh;
}

.app-nav, .app-footer {
    height: 100%;
    background: var(--red);
}

.app-nav {
    @include flex(space-between, center);
    padding: 0 1rem;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);

    .app-nav-name {
        font-size: 1.5rem;
        font-weight: bold;
        font-variant: small-caps;
        font-family: var(--fancy);

        letter-spacing: 0.5px;
        line-height: 1.3rem;
        width: 50%;

        color: var(--white);
        text-align: center;
        user-select: none;
    }
}

.app-footer {
    @include flex(space-around, center);
    box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.1);

    .app-footer-link {
        @include flex(center, center);
        flex-direction: column;

        span {
            color: var(--white);
            font-size: 0.75rem;
        }
    }
}

.app-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}