.base-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 512px;
    
    .base-card-image {
        overflow: hidden;
        position: relative;
        height: 200px;

        img {
            width: 200%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .base-card-text {
        padding: 1rem 1rem;

        h2 {
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
            font-variant: small-caps;
            font-family: var(--fancy);
            line-height: 2rem;
        }
    }

    .base-card-desc {
        font-size: 1.1rem;

        h3 {
            font-size: 1.2rem;
            padding-top: 0.5rem;
            text-decoration: underline;
            font-weight: lighter;
        }

        p, ul, li {
            font-size: 1.1rem;
            line-height: 2rem;
        }
        
        ul {
            padding: 0 1rem;

            li {
                margin-left: 1rem;
            }
        }

        br {
            line-height: 1rem;
        }

        .center {
            text-align: center;
        }
    }
}