.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    span {
        width: 100%;
        @include flex(center, center);
        text-align: center;
    }

    button {
        cursor: pointer;
        padding: 1rem 0.5rem;
        font-size: 1.1rem;
        border-radius: 2.5px;

        &:disabled {
            color: rgba(0, 0, 0, 0.5);
            background: lightgrey;
            cursor: auto;
        }
    }
}