.profile-page {
    @include flex(center, center);
    flex-direction: column;
    height: 100%;
    gap: 1rem;

    .profile-page-info p {
        font-size: 1.2rem;
    }

    img {
        background: var(--red);
        border-radius: 50%;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        color: var(--white);
        background: var(--red);
        border-radius: 1rem;
    }
}