@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap");

// Variables

$white: #f7f7f7;
$black: #121212;

$red: #da0028;
$gold: #f6d140;

$baseFont: "Open Sans", sans-serif;
$fancyFont: "PT Serif", serif;

$goldGrad: linear-gradient(
    121deg,
    rgba(246, 209, 64, 1) 0%,
    rgba(255, 171, 0, 1) 100%
);

$greyGrad: linear-gradient(
    121deg,
    rgba(217, 215, 211, 1) 0%,
    rgba(228, 221, 207, 1) 100%
);

// Mixins

@mixin flex($direction, $align, $justified) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justified;
    align-items: $align;
}

@mixin position($mode, $top, $right, $bottom, $left) {
    position: $mode;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin static-grid($rows, $columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
}

// Root

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;

    box-sizing: border-box;

    font-size: 1rem;
    font-family: $baseFont;
    color: $black;
}

html,
body {
    background: url("./images/bg-2.png");
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 100vh;
}

// Navbar

#navbar {
    @include position(fixed, 0, 0, auto, 0);
    @include flex(row, center, space-between);

    background: $red;
    padding: 0 0.5rem;
    height: 3.5rem;

    img {
        width: 2.5rem;
    }

    h1 {
        width: 50%;
        text-align: center;
        margin-top: -2px;

        color: $white;
        font-family: $fancyFont;
        font-variant: small-caps;
        font-size: 1.6rem;

        line-height: 1.2rem;
    }
}

// Content

#content {
    @include flex(column, center, flex-start);

    margin: 0 auto;
    min-height: 100vh;
    max-width: 512px;
    padding: 4.5rem 1rem;
}

// Footer

#footer {
    @include position(fixed, auto, 0, 0, 0);
    @include static-grid(1, 3);

    background: $red;
    overflow: hidden;
    height: 3.5rem;

    button {
        @include flex(column, center, center);

        background: none;
        transition: background 0.2s;

        img {
            width: 2rem;
        }

        span {
            font-size: 0.75rem;
            color: $white;
        }

        &:disabled {
            background: darkred;
            transition: background 0.2s;
        }
    }
}

// Back Button

#back {
    @include position(absolute, 0.5rem, auto, auto, 0.5rem);
    @include flex(row, center, center);

    padding: 0.5rem;
    border-radius: 50%;
    background: $red;

    img {
        width: 2rem;
    }
}

// Message Box

#message {
    @include position(fixed, 5rem, 1rem, auto, 1rem);
    @include flex(row, center, center);

    padding: 0.5rem;
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;

    color: $red;
    border: 2px solid $red;
    background: $white;
}

// Other

@import "card.scss";
@import "theme.scss";
@import "page.scss";
@import "form.scss";
